<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sensorgpsservice">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SensorGPSService">
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.SensorGPSService.NoActionBar"></activity>
        <activity android:name=".UserinfoActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--    <activity android:name=".MainActivity">  -->

                <!--
                 <intent-filter>
                     <action android:name="android.intent.action.MAIN" />

                     <category android:name="android.intent.category.LAUNCHER" />
                 </intent-filter>
                -->
        <!--      </activity>   -->

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".AccelerometerService" />
        <service android:name=".OrientationService" />
        <service android:name=".LightService" />
        <service android:name=".GyroscopeService" />
        <service android:name=".BatteryService" />
        <service android:name=".GravService" />
        <service android:name=".MagneticfieldService" />
    </application>

</manifest>